.login {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--left-container {
    display: none;
    background-image: url("../imgs/dinner_background_square_left.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
  }

  &--container {
    height: 100vh;
  }

  &--max-width-container {
    display: flex;
    justify-content: center;
  }

  &--max-width {
    max-width: 312px;
    width: 100%;
    padding: 1em;
  }

  &--header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    &--link {
      color: gray;
      text-decoration: none;
      cursor: pointer;
    }
  }
  &--form h2 {
    font-size: 3rem;
    margin: 40px;
  }
  &--form a {
    margin-bottom: 15px;
  }

  &--footer {
    flex: 1;
  }

  @media (width > 800px) {
    &--left-container {
      display: block;
    }
  }
  @media (width > 1024px) {
    &--container {
      display: flex;
    }

    &--left-container {
      display: block;
      flex: 2;
    }

    &--max-width {
      max-width: 1024px;
      flex: 1;
    }
  }
}
