<!--<div id="centerContainer" class="background-right">    -->
<div class="container-fluid transparent-background" ng-controller="AdminController as $admin">
  <nav  role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header pull-left">
        <a class="navbar-brand">Panel Admina</a>
    </div>
    <div class="navbar-brand pull-right">
      <button type="button" class="btn btn-primary pull-right" ng-click="$admin.goToOrder();">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Powrót do zamówień</button>
    </div>
  </nav>

  <div class="panel-group" id="accordion" style="padding-top: 85px">
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="return false;" style="cursor: pointer;">
        <h2 class="panel-title">
          <b>1. Ustawienia aplikacji</b>
        </h2>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
              <div>
                  <div class="row">
                    <div class="col-sm-12">
                        <h4><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Dodawanie nowych użytkowników <span >{{addingUserAviableLabel}}</span>:</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <button type="button" ng-class="isAddingUserAviable ? 'btn btn-danger' : 'btn btn-primary'" ng-click="$admin.swichIsAddingUserAviable();" >
                          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {{addingUserAviableButtonLabel}}</button>
                    </div>
                  </div>
                  <br/>
                  <div class="row">
                    <div class="col-sm-12">
                      <h4><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Losowanie:</h4>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-sm-4">
                      <h5><b>Lista zmniejszająca prawopodobiestwo:</b></h5>
                      <div class="row">
                          <div class="col-sm-7">
                            <input class="form-control" type="text" ng-model="nameReduceProbability" placeholder="ciąg znaków"></input>
                          </div>
                          <div class="col-sm-5">
                            <button class="btn btn-primary" type="button" ng-click="$admin.PostMenuItemNameAffectDrawing(1)" ng-disabled="!nameReduceProbability">
                              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj nowy</button>
                          </div>
                      </div>
                      <br/>
                      <table class="table table-hover">
                        <tr>
                          <th>Id</th>
                          <th>Ciąg znaków</th>
                          <th></th>
                        </tr>
                        <tbody ng:repeat="i in menuItemNamesThatReduceDrawingProbability">
                          <tr>
                            <td>{{$index + 1}}</td>
                            <td>{{i.namePart}}</td>                            
                            <td><button class="btn btn-danger" type="button" ng-click="$admin.DeleteMenuItemNamesThatChangeDrawingProbability(i.id)" uib-popover="Usuń" popover-trigger="'mouseenter'">
                              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                            
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-sm-4">
                        <h5><b>Lista zwiększająca prawopodobiestwo:</b></h5>
                        <div class="row">
                            <div class="col-sm-7">
                              <input class="form-control" type="text" ng-model="nameIncreaseProbability" placeholder="ciąg znaków"></input>
                            </div>
                            <div class="col-sm-5">
                              <button class="btn btn-primary" type="button" ng-click="$admin.PostMenuItemNameAffectDrawing(2)" ng-disabled="!nameIncreaseProbability">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj nowy</button>
                            </div>
                        </div>
                        <br/>
                        <table class="table table-hover">
                          <tr>
                            <th>Id</th>
                            <th>Ciąg znaków</th>
                            <th></th>
                          </tr>
                          <tbody ng:repeat="i in menuItemNamesThatIncreaseDrawingProbability">
                            <tr>
                              <td>{{$index + 1}}</td>
                              <td>{{i.namePart}}</td>                            
                              <td><button class="btn btn-danger" type="button" ng-click="$admin.DeleteMenuItemNamesThatChangeDrawingProbability(i.id)" uib-popover="Usuń" popover-trigger="'mouseenter'">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                              
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <h5><b>Lista użytkowników z immunitetem:</b></h5>
                        <div class="row">
                            <div class="col-sm-7">
                              <input class="form-control" type="text" ng-model="userNameToImmunity" placeholder="login użytkownika"></input>
                            </div>
                            <div class="col-sm-5">
                              <button class="btn btn-primary" type="button" ng-click="$admin.postUserToImmunity()" ng-disabled="!userNameToImmunity">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj</button>
                            </div>
                        </div>
                        <br/>
                        <table class="table table-hover">
                          <tr>
                            <th>Id</th>
                            <th>Login</th>
                            <th></th>
                          </tr>
                          <tbody ng:repeat="i in usersWithImmunity">
                            <tr>
                              <td>{{$index + 1}}</td>
                              <td>{{i.userName}}</td>                            
                              <td><button class="btn btn-danger" type="button" ng-click="$admin.deleteUserWithImmunity(i.userName)" uib-popover="Usuń" popover-trigger="'mouseenter'">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                              
                            </tr>
                          </tbody>
                        </table>
                    </div>               
                  </div>
                  <div class="row">
                      <div class="col-sm-12">
                        <h5><b>Godzina losowania: </b></h5>
                      </div>
                    </div>
                    <div class="row" >
                      <div class="col-sm-4" style="display: flex; align-items: center">
                        <div >
                          <div uib-timepicker ng-model="drawingTimeObject" ng-change="$admin.drawingTimeChanged()" hour-step=1 minute-step=5 show-meridian="ismeridian"></div>
                        </div>
                        <div>
                          <button class="btn btn-primary " type="button" ng-click="$admin.postDrawingTimeTotalMinutes()"  style="margin: 30px">
                              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Zapisz</button>
                        </div>
                        <div class="col-sm-8">
  
                        </div>
                      </div>
                    </div>  
                </div>
                </div>
          </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" onclick="return false;" style="cursor: pointer;">
        <h2 class="panel-title">
          <b>2. Historia skarbonki</b>
        </h2>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12 col-12">
              <table class="table table-hover">
                <tr>
                  <th>Lp.</th>
                  <th></th>
                  <th>Data</th>
                  <th>Zmiana</th>
                  <th>Stan skarbonki</th>
                  <th>Stan bazodanowy</th>
                  <th>Nadpłata</th>
                  <th>Uwagi</th>
                  <th>Wprowadził</th>

                </tr>
                <tbody  ng:repeat="i in cashBoxStateHistory">
                  <tr>
                    <td>{{cashBoxStateHistory.length - $index}}</td>
                    <td ng-if="i.cashChange > 0"><span class="glyphicon glyphicon-chevron-up" style="color:green"></span></td>
                    <td ng-if="i.cashChange < 0"><span class="glyphicon glyphicon-chevron-down" style="color:red"></span></td>
                    <td ng-if="i.cashChange == 0"><span class="glyphicon glyphicon-chevron-minus" style="color:gray"></span></td>
                    <td>{{timeUTCToLocalString(i.dateTime)}}</td>
                    <td>{{i.cashChange}}</td> 
                    <td><b>{{i.cashState}}</b></td>
                    <th>{{i.cashDatabaseState}}</th>
                    <th>{{i.extraCash}}</th>
                    <td>{{i.comment}}</td>
                    <td>{{i.name}} ({{i.userName}})</td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" href="#collapseThree" onclick="return false;" style="cursor: pointer;">
          <h2 class="panel-title">
            <b>3. Użytkownicy</b>
          </h2>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-8 col-md-9 col-sm-10 col-12">
                  <div class="row">
                    <div class="col-sm-2">
                        <h4>Skarbonka: </h4>
                    </div>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" ng-model="adminParameters.actualCashBoxState.cashState" id="boxCash" ng-change="updateExtraCashOnCashBoxState()"/>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="adminParameters.actualCashBoxState.comment" id="comment" ng-change="commentFieldChanged()"/>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" ng-model="adminParameters.actualCashBoxState.userName" id="lastEditorUserName" disabled/>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-warning pull-right " type="button" ng-click="$admin.postCashBoxState()" ng-disabled="isPostCashBoxStateDisabled">
                            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                        </button>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-2">
                          <h5>Saldo użytkowników: </h5>
                      </div>
                      <div class="col-sm-2">
                          <input type="number" class="form-control" ng-model="adminParameters.actualCashBoxState.cashDatabaseState" id="boxCash" disabled/>
                      </div>
                      <div class="col-sm-1">

                      </div>
                      <div class="col-sm-1">
                          <h5>Nadpłata: </h5>
                      </div>
                      <div class="col-sm-2">
                          <input type="number" class="form-control" ng-model="adminParameters.actualCashBoxState.extraCash" id="extraCash" ng-change="updateCashBoxStateOnExtraCash()" />
                      </div>
                      <div class="col-sm-3">
                          <input type="text" class="form-control" ng-model="actualCashBoxStateTime" id="dateTime" disabled/>
                        
                      </div>
                      <div class="col-sm-1">
                          
                      </div>

                    </div>
                  <br/>
                    
                </div>
              </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <table class="table table-hover">
                        <tr>
                          <th>Lp</th>
                          <th>Login</th>
                          <th>Imię</th>
                          <th>Saldo</th>
                          <th>Wpłata</th>
                          <th></th>
                          <th style="vertical-align: middle; text-align: center">Admin</th>
                          <th style="vertical-align: middle; text-align: center">Resetuj hasło</th>
                          <th style="vertical-align: middle; text-align: center">Usuń</th>
              
                        </tr>
                        
                        
                        <tbody ng:repeat="i in adminParameters.adminDataList">
                          <tr>
                            <td>{{$index + 1}}</td>
                            <td><b>{{i.userName}}</b></td>
                            <td>{{i.name}}</td>

                            <td>
                              <input class="form-control" ng-model="saldo" id="saldo" ng-style="i.userChange < 0 ? {'border-color':'red'} : {}" value="{{i.userChange}}" type="number" disabled>
                            </td>
                            <td>
                              <input type="number" class="form-control" ng-model="i.adminPay" id="income" />
                            </td>
                            <td>
                              <button class="btn btn-warning pull-right " type="button" ng-click="$admin.adminPay(i)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"> Wpłacono</span>
                              </button>
                            </td>
                            <td style="vertical-align: middle; text-align: center">
                              <input type="checkbox" ng-model="i.isAdmin" ng-change="$admin.swichAdmin(i)">
                            </td>
                            <td style="vertical-align: middle; text-align: center">
                              <button class="btn btn-danger" type="button" ng-click="$admin.resetPassword(i)" uib-popover="Reset hasła" popover-trigger="'mouseenter'">
                                <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                            </td>
                            <td style="vertical-align: middle; text-align: center">
                                <button class="btn btn-danger" type="button" ng-click="$admin.retireUser(i)" uib-popover="Usuń użytkownika" popover-trigger="'mouseenter'">
                                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                              </td>
              
              
                          </tr>
                        </tbody>
                      </table>
              
                    </div>
                  </div>
            </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" onclick="return false;" style="cursor: pointer;">
          <h4 class="panel-title">
            <b>4. Lista restauracji</b>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-8">
                <h4>Restauracje:</h4>
              </div>
              <div class="col-sm-4">
                <button type="button" class="btn btn-primary pull-right" ng-click=" $admin.getRestaurantsList()">
                  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Odśwież</button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <input class="form-control" type="text" ng-model="restaurantName" placeholder="Nazwa restauracji"></input>
              </div>
              <div class="col-sm-3">
                <input class="form-control" type="text" ng-model="restaurantUrl" placeholder="adres URL"></input>
              </div>
              <div class="col-sm-3">
                <input class="form-control" type="tel" ng-model="restaurantTel" placeholder="Nr telefonu"></input>
              </div>
              
              <div class="col-sm-3">
                <button class="btn btn-primary" type="button" ng-click="$admin.postRestaurant()" ng-disabled="!restaurantName">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj nową</button>
              </div>
            </div>
            <br/>
              
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-hover">
                  <tr>
                    <th>Id</th>
                    <th>Nazwa</th>
                    <th>Url</th>  
                    <th>Numer telefonu</th>
                    <th></th>            
                  </tr>
                  <tbody ng:repeat="i in restaurantsList">
                    <tr>
                      <td>{{$index + 1}}</td>
                      <td>{{i.name}}</td>
                      <td>{{i.url}}</td>
                      <td>{{i.telephoneNumber}}</td>
                      <td><button class="btn btn-danger" type="button" ng-click="$admin.delRestourant(i.id)" uib-popover="Usuń" popover-trigger="'mouseenter'">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                      
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" onclick="return false;" style="cursor: pointer;">
          <h4 class="panel-title">
            <b>5. Historia transakcji</b>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">              
              <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-xs-8">
                <div class="row">
                  <div class="col-sm-6">
                      <h4>Wyświetlaj zamówienia z </h4>
                  </div>
                  <div class="col-sm-6">
                      <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{monthsNumber}} miesięcy
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-click="$admin.setMonthsNumber(1)">1 miesięcy</li>
                            <li ng-click="$admin.setMonthsNumber(3)">3 miesięcy</li>
                            <li ng-click="$admin.setMonthsNumber(6)">6 miesięcy</li>
                            <li ng-click="$admin.setMonthsNumber(12)">12 miesięcy</li>
                          </ul>
                        </div>
                  </div>
                </div>
                
              </div>
              <div class="col-xl-8 col-lg-7 col-md-6 col-sm-4 col-xs-4">
                <button type="button" class="btn btn-primary pull-right" ng-click="$admin.getTransactionsHistory()">
                  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Odśwież</button>
              </div>
            </div>
            
            <br/>
              
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-hover" style="width:1%; white-space: nowrap;">
                  <tr>
                    <th>Lp</th>
                    <th></th>
                    <th>Data</th>
                    <th>Użytkownik</th>
                    <th>Zamówienie</th>
                    <th>Kwota</th>
                    <th>Uwagi</th>
                    <th>Transakcję wprowadził</th>
                  </tr>
                  <tbody ng:repeat="i in transactionsHistory">
                    <tr>
                      <td>{{$index + 1}}</td>
                      <td ng-if="i.ammount > 0"><span class="glyphicon glyphicon-chevron-up" style="color:green"></span></td>
                      <td ng-if="i.ammount < 0"><span class="glyphicon glyphicon-chevron-down" style="color:red"></span></td>
                      <td ng-if="i.ammount == 0"><span class="glyphicon glyphicon-chevron-minus" style="color:gray"></span></td>
                      <td>{{timeUTCToLocalString(i.date)}}</td>
                      <td>{{i.userName}}</td>
                      <td>{{i.menuItem.itemName}}</td>
                      <td>{{i.ammount}}</td>
                      <td>{{i.comment}}</td>
                      <td ng-if="i.ammount > 0">{{i.transactionAddedBy}}</td>
                      <td ng-if="i.ammount <= 0"></td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  
  </div>
</div>