<div class="modal-header">
    <h3>Losowanie:</h3>
</div>
<div class="container-fluid modal-body" id="modal-body">
    <div class="row" >
        <div class="col-xs-12">
            <div ng-repeat="i in todayOrdersByRestaurans">
                <h3>{{i.restaurant.name}}:</h3>
                <div style="padding: 15px">
                    <h4 class="modal-title" id="modal-title">   Dzisiejszy szczęśliwy los to: <b>{{i.todayDrawing.userName}}</b></h4>
                    <h5>   Zamawiamy z <b>{{todayOrderParameters.todayRestaurant}}</b> (nr tel: <b>{{i.restaurant.telephoneNumber}}</b>)</h5>
                </div>
                

            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$aggregate.ok()">OK</button>
</div>