<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{header}}</h4>
</div>
<div class="container-fluid modal-body" id="modal-body">
    {{message}}
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$modal.ok()">OK</button>
</div>