<div class="modal-header row">
  <div class="col-xs-6">
    <h3 class="modal-title" id="modal-title">Edytuj zamówienie</h3>
  </div>
  <div class="col-xs-6">
    <div uib-dropdown is-open="status.isopen" class="dropdown text-right" style="cursor: pointer">
        <button class="btn btn-warning float-right" id="today-restourant-dropdown" ng-value="currentRestaurantName" uib-dropdown-toggle>{{currentRestaurantName}}
          <span class="glyphicon glyphicon-menu-down pull-right"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="today-restourant-dropdown" >
          <li role="menuitem"><a ng-click="$modal.setRestourantToScope(i.name)" ng:repeat="i in restaurantsList">{{i.name}}</a></li>
        </ul>
      </div>
  </div>
</div>
<div class="container-fluid modal-body" id="modal-body">
  <div class="row form-group">
    <div class="col-xs-2">
      <label>Zamówienie:</label>
    </div>
    <div class="col-xs-10">
      <!-- <input type="text" class="form-control" ng-model="itemNameEdit" id="itemName" ng-value="$modal.itemName"/> -->
      <div class="input-group">
          <input type="text" class="form-control" ng-model="itemNameEdit" id="itemName" />
          <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right" >
                <li ng:repeat="i in menuItemsForRestaurant">
                    <a ng-click="$modal.PassSelectedMenuItemToEditScope(i)">{{i.itemName}} - {{i.itemPrice}} zł</a>
                </li>
              </ul>
          </div>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-2">
      <label>Cena:</label>
    </div>
    <div class="col-xs-4">
      <input type="number"class="form-control" ng-model="itemPriceEdit" ng-change="countAllEdit()" id="itemPrice" ng-value="$modal.itemPrice" />
    </div>
    <div class="col-xs-2">
      <label>Opakowanie:</label>
    </div>
    <div class="col-xs-4">
      <input type="number" class="form-control" ng-model="boxPriceEdit" id="boxPrice" ng-value="$modal.boxPrice" ng-change="countAllEdit()"/>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-2">
      <label>Uwagi:</label>
    </div>
    <div class="col-xs-10">
      <input type="text" class="form-control" ng-model="commentEdit" id="comment" ng-value="$modal.comment" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-2">
      <label>Suma:</label>
    </div>
    <div class="col-xs-5">
      <input class="form-control" ng-model="totalPrice" id="totalPrice" type="number" placeholder="Suma" disabled>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-2">
      <label>Do zapłacenia</label>
    </div>
    <div class="col-xs-4">
      <input class="form-control" ng-model="toPay" id="toPay" type="number" placeholder="" disabled>
    </div>
    <div class="col-xs-2">
      <label>Twoja nadplata:</label>
    </div>
    <div class="col-xs-4">
      <input class="form-control" ng-model="saldo" ng-style="saldo < 0 ? {'border-color':'red'} : {}" id="saldo" type="number" disabled>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="!itemNameEdit" ng-click="$modal.saveEdit()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$modal.cancelModal()">Anuluj</button>
</div>
