<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{configData.version}} - informacje o aplikacji</h4>
</div>
<div class="container-fluid modal-body" align="justify" id="modal-body">
    <p>Aplikacja jest narzędziem ułatwiającym zamawianie obiadów. </p>
    <br/>
    <p>Podczas pierwszego uruchomienia aplikacji należy skorzystac z przycisku <b>Nowy użytkownik</b> w prawym górnym rogu.
        Gdy użytkownik zapomni hasła administratorzy aplikacji mają możliwość jego restartowania. Zmianę hasła można wykonać w 
        <b>Panelu użytkownika</b>.</p>
    <br/>

    <p>Ważną cechą aplikacji jest wspieranie <b>"karnetu obiadowego"</b>. 
        Jeśli użytkownik zapłaci z góry większą kwotę aplikacja będzie ją systematycznie rozliczać. 
        Informacja o saldzie pojawia się w panelu <b>"Złóż zamówienie"</b> oraz po najechaniu myszą na nazwę użytkownika na górnej belce. 
        Jest to pole <b>Twoje saldo</b>.</p>
    <!-- <p>Panel <b>"Zapłać"</b> służy do wpisywania kwot wpłacanych</p> -->
    <p>Wpłat mogą dokonywać Admninistratorzy aplikacji, w panelu Admina.</p>
    <br/>
    <p>Wszystkie uwagi do aplikacji oraz informacje o błędach prosimy kierować na adres mailowy: 
        <a href="mailto:paszoserwis@gmail.com" target="_top">maciej_fertala@dpksystem.pl</a></p>
    <div class="pull-right">
        <p class="">Pozdrawiamy,</p>
        <p class="">załoga PASZO</p>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$modal.ok()">OK</button>
</div>