<div class = "container" ng-controller="LoginController as $login">
	<div id="centerContainer" class="background-right">
		<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">      
			
				<div class="navbar-header pull-right">
					<ul class="nav pull-left">
						<li class="navbar-text pull-left">
							<a ng-click="$login.newUser()" style="cursor: pointer" uib-popover="Nowy użytkownik" popover-trigger="'mouseenter'" popover-placement="left">
								<b>+</b><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								<!--Nowy użytkownik -->
							</a>
						</li>
					</ul>
				</div>
			</div>    
		</nav>
	
		<div class="panel loginmodal-container" style="position: absolute; width: 40%; top: 45%; left: 50%; transform: translate(-50%, -40%)">
			<div class="spinner"></div>
			<div name="myLogin" class="form-signin" ng-keypress="($event.charCode==13)? $login.loginButton() : return">
				<h3 class="form-signin-heading" style="padding: 10px">
					<b style="color: #5F5F5F;">PASZO</b>
					 <!--font-family: 'Exo 2', Serif!important;-->
					<span ng-click="$login.infoPanel()" class="glyphicon glyphicon-info-sign pull-right" aria-hidden="true" style="cursor: pointer" style="cursor: pointer" uib-popover="O aplikacji" popover-trigger="'mouseenter'" popover-placement="top">

					</span>
				</h3>
				
				<div style="padding: 10px">
					<input type="text" class="form-control" ng-model="username" placeholder="login" style="padding: 10px" required />
					<br/>
					<input type="password" class="form-control" ng-model="password" placeholder="hasło" style="padding: 10px" required/> 
				</div>
				<div>
					<!--<div class="loader" ng-if="loading">Loading...</div>-->
					<div class="w3loader" align="center" valign="center" ng-if="loading"></div>

				</div>
				
				<!--<br />-->
				<div class="row" style="padding: 10px">
					<div class="col-xs-12">
						<button class="btn  btn-primary btn-block" ng-click="$login.loginButton()" ng-disabled="!username" >Zaloguj się</button>
					</div>
					<!--<div class="col-xs-4">
						<button class="btn  btn-warning btn-block" ><span style="font-size: 15px">Nowy użytkownik</span></button>
					</div>-->
					<div class="row" style="padding: 10px">
						<div class="col-xs-12" >
							<a class="pull-right" ng-click="$login.passwordForgotten()" style="font-size: 90%; cursor: pointer">Zapomniałem hasła</a>
						</div>		
					</div>				
				</div>
			</div>		
		</div>
	</div>
</div>