<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Dodaj nowego użytkownika</h3>
</div>

<div class="container-fluid modal-body" style="" id="modal-body">
    <input type="text" class="form-control" ng-model="newLogin" ng-change="$modal.isWhiteSpace(newLogin)" id="newLogin" placeholder="Login"/>
    <br ng-if="isWhiteSpace"/>
    <div class="alert alert-danger" role="alert" ng-if="isWhiteSpace">Login nie może zawierać spacji</div>
    <br />
    <input type="text" class="form-control" ng-model="newName" id="newName" placeholder="Imię"/>
    <br/>    
    <input type="email" class="form-control" ng-model="newEmail" id="newEmail" placeholder="Email"/>
    <br/>
    <input type="tel" class="form-control" ng-model="newTelephone" id="newTelephone" placeholder="Numer telefonu"/>
    <br/>  
    <input type="password" class="form-control" ng-model="newPassword" id="newPassword" placeholder="Hasło"/>
    <br />
    <input type="password" class="form-control" ng-model="newPasswordRepeat" id="newPasswordRepeat" placeholder="Powtórz hasło"/>
  
 
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$modal.addNewUser()" ng-disabled="isWhiteSpace">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$modal.cancelModal()">Anuluj</button>
</div>