.order-page {
  &--heading {
    display: flex;
    justify-content: space-between;

    &--section {
    }
  }

  &--order-button {
    width: 160px;
  }

  &--restaurant-info {
    display: flex;
    justify-content: space-between;
  }

  &--table {
    width: 100%;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 1em;

    &--display-name {
      margin-left: 10px;
    }
  }

  &--table thead tr {
    background-color: #e7d8ac;
    color: hsl(0, 0%, 13%);
    text-align: left;
    font-weight: bold;
  }

  &--table th,
  &--table td {
    padding: 12px 15px;
  }

  &--table tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  &--table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  &--table tbody tr:last-of-type {
    border-bottom: 2px solid #d4bc84;
  }

  &--table tbody tr.active-row {
    background-color: #dfdbd0;
  }

  &--table tbody tr td ul {
    margin: 0;
    padding: 0;
  }

  &--table {
    &--name {
      display: flex;
      justify-content: start;
    }
  }

  &--table {
    &--display-name {
      font-weight: bold;
    }
  }

  @media (width < 450px) {
    &--table thead tr {
      display: none;
    }

    &--table tbody tr {
      display: flex;
      flex-direction: column;
    }

    &--table td {
      text-align: right;
      display: block;
      font-size: 1em;
      padding: 0.3em;
      border-bottom: 0.1px solid lightgray;
    }

    &--table {
      &--index-data {
        display: table-cell;
      }
    }

    &--table {
      &--index-data {
        display: none;
      }
    }

    &--table {
      &--name {
        justify-content: end;
      }
    }

    &--table td::before {
      content: attr(data-title) ": ";
      float: left;
    }
  }

  &--dialog {
    &--menu-item {
      display: grid;
      grid-template-columns: 1fr 5fr 5fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "index order-name order-name delete"
        ". price box-price .";
      gap: 1em;
      padding-bottom: 1em;

      &--index {
        grid-area: index;
        margin-top: 10px;
      }
      &--order-name {
        grid-area: order-name;
      }
      &--price {
        grid-area: price;
      }
      &--box-price {
        grid-area: box-price;
      }
      &--delete-icon {
        cursor: pointer;
        grid-area: delete;
        margin-top: 10px;
      }
    }
    &--order-params {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "sum ."
        "to-pay balance"
        "reataurant-dropdown reataurant-dropdown"
        "comment comment";
      gap: 1em;

      &--sum {
        grid-area: sum;
      }
      &--to-pay {
        grid-area: to-pay;
      }
      &--balance {
        grid-area: balance;
      }
      &--reataurant-dropdown {
        grid-area: reataurant-dropdown;
      }
      &--comment {
        grid-area: comment;
      }
    }
  }
}
