<!DOCTYPE html>
<html lang="en" ng-app="PaszoApp">

<head>
    <meta charset="utf-8" />
    <link href="css/main.css" rel="stylesheet">
    <title>{{configData.version}}</title>
    <link href="css/main.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/x-icon" href="imgs/favico.png">
</head>

<body>
    <ng-view class="view"></ng-view>
</body>
<script src="js/scripts.js"></script>

</html>