.border {
  border: 1px solid gray;
}

* {
  box-sizing: border-box;
}

.main {
  &--button {
    background-color: #57a134;
    border-width: 0;
  }

  &--button:hover {
    background-color: #68c13f;
    border-width: 0;
  }
}
