<!--<div id="centerContainer" class="background-right">    -->
  <div class="container-fluid transparent-background" ng-controller="AdminController as $admin">
    <nav  role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header pull-left">
          <a class="navbar-brand">Panel Admina</a>
      </div>
      <div class="navbar-brand pull-right">
        <button type="button" class="btn btn-primary pull-right" ng-click="$admin.goToOrder();" style="">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Powrót do zamówień</button>
      </div>
    </nav>
    <!--style="display: inline-block"-->
    <!--<div class="page-header">-->
    <div class="container-fluid" style="padding-top: 85px">
      <div class="row transparent-background" style="display: flex; align-items: center; justify-content: space-between;">

          <label>Dziś zamawiamy: </label>
          <div uib-dropdown is-open="status.isopen" class="dropdown" style="cursor: pointer">
            <button class="btn btn-warning " id="today-restourant-dropdown" ng-value="orderParameters.TodayRestaurant" uib-dropdown-toggle>{{orderParameters.TodayRestaurant}}
              <span class="glyphicon glyphicon-menu-down pull-right"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="today-restourant-dropdown" >
              <li role="menuitem"><a ng-click="$admin.setRestourantToScope(i.Name)" ng:repeat="i in restaurantsList">{{i.Name}}</a></li>
            </ul>
          </div>

          <label>Zamawiamy o: </label>
          <div uib-timepicker ng-model="orderTimeObject" ng-change="$admin.orderTimeChanged()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>

          <label>Status: </label>
          <div uib-dropdown  >
            <button class="btn btn-warning " id="status-dropdown" uib-dropdown-toggle>{{orderParameters.Status}}
              <span class="glyphicon glyphicon-menu-down pull-right"></span>
            </button>     
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="status-dropdown" >
              <li role="menuitem"><a ng-click="$admin.setStatusToScope(i)" ng:repeat="i in configData.statusList">{{i}}</a></li>
            </ul>
          </div>     

          <label>Godzina dostarczenia: </label>
          <div uib-timepicker ng-model="deliveryTimeObject" ng-change="$admin.deliveryTimeChanged()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>

          <button type="button" class="btn btn-primary" ng-click="$admin.postOrderParameters()">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Aktualizuj
          </button>

      </div>
      <br/>
      <div class="row">
        <div class="col-xs-12 ">
          <h3>Łączna kwota: {{totalSum}} zł</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <h4>Użytkownicy</h4>
        </div>
        <div class="col-xs-4">
          <button type="button" class="btn btn-primary pull-right" ng-click="$admin.refreshAll();">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Odśwież</button>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-hover">
            <tr>
              <th>Lp</th>
              <th>Login</th>
              <th>Saldo</th>
              <th>Wpłata</th>
              <th></th>
              <th style="vertical-align: middle; text-align: center">Admin</th>
              <th style="vertical-align: middle; text-align: center">Resetuj hasło</th>
              <th style="vertical-align: middle; text-align: center">Usuń</th>

            </tr>
            
            
            <tbody ng:repeat="i in adminList">            
              <tr>
                <td>{{$index + 1}}</td>
                <td><b>{{i.UserName}}</b></td>
                <td><input class="form-control" ng-model="saldo" id="saldo" ng-style="i.UserChange < 0 ? {'border-color':'red'} : {}" value="{{i.UserChange}}" type="number" disabled></td>
                <td>
                  <input type="number" class="form-control" ng-model="i.AdminPay" id="income" />
                </td>
                <td>
                  <button class="btn btn-warning pull-right " type="button" ng-click="$admin.adminPay(i)">
                    <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"> Wpłacono</span>
                  </button>
                </td>
                <td style="vertical-align: middle; text-align: center">
                  <input type="checkbox" ng-model="i.IsAdmin" ng-change="$admin.swichAdmin(i)">
                </td>
                <td style="vertical-align: middle; text-align: center">
                  <button class="btn btn-danger" type="button" ng-click="$admin.resetPassword(i)" uib-popover="Reset hasła" popover-trigger="'mouseenter'">
                    <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                </td>
                <td style="vertical-align: middle; text-align: center">
                    <button class="btn btn-danger" type="button" ng-click="$admin.retireUser(i)" uib-popover="Usuń użytkownika" popover-trigger="'mouseenter'">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </td>


              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-8">
          <h4>Restauracje</h4>
        </div>
        <div class="col-xs-4">
          <button type="button" class="btn btn-primary pull-right" ng-click=" $admin.getRestaurantsList()">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Odśwież</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <input class="form-control" type="text" ng-model="restaurantName" placeholder="Nazwa restauracji"></input>
        </div>
        <div class="col-xs-3">
          <input class="form-control" type="text" ng-model="restaurantUrl" placeholder="adres URL"></input>
        </div>
        
        <div class="col-xs-3">
          <button class="btn btn-primary" type="button" ng-click="$admin.postRestaurant()" ng-disabled="!restaurantName">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj nową</button>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-hover">
            <tr>
              <th>Id</th>
              <th>Nazwa</th>
              <th>Url</th>  
              <th></th>            
            </tr>
            <tbody ng:repeat="i in restaurantsList">
              <tr>
                <td>{{$index + 1}}</td>
                <td>{{i.Name}}</td>
                <td>{{i.Url}}</td>
                <td><button class="btn btn-danger" type="button" ng-click="$admin.delRestourant(i.Id)" uib-popover="Usuń" popover-trigger="'mouseenter'">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
<!--</div>-->