<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Złóż zamówienie</h3>
</div>
<div class="container-fluid modal-body" id="modal-body">
  <div class="row form-group">
    <div class="col-xs-2">
      <label>Zamówienie:</label>
    </div>
    <div class="col-xs-10">
      <input type="text" class="form-control" ng-model="itemName" id="itemName" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-2">
      <label>Cena:</label>
    </div>
    <div class="col-xs-4">
      <input type="number"class="form-control" ng-model="itemPrice" ng-change="countAll()" id="itemPrice" placeholder="Kwota" />
    </div>
    <div class="col-xs-2">
      <label>Opakowanie:</label>
    </div>
    <div class="col-xs-4">
      <input type="number" class="form-control" ng-model="boxPrice" id="boxPrice"  ng-change="countAll()" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-2">
      <label>Uwagi:</label>
    </div>
    <div class="col-xs-10">
      <input type="text" class="form-control" ng-model="comment" id="comment" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-2">
      <label>Suma:</label>
    </div>
    <div class="col-xs-5">
      <input class="form-control" ng-model="totalPrice" id="totalPrice" type="number" placeholder="Suma" disabled>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-2">
      <label>Do zapłacenia</label>
    </div>
    <div class="col-xs-4" uib-popover="Kwota do zapłacenia to różnica wartości zamówienia i salda na koncie" popover-trigger="'mouseenter'" popover-placement="bottom">
      <input class="form-control" ng-model="toPay" id="toPay" type="number" placeholder="" disabled>
    </div>
    <div class="col-xs-2">
      <label>Twoje saldo:</label>
    </div>
    <div class="col-xs-4">
      <input class="form-control" ng-model="saldo" ng-style="saldo < 0 ? {'border-color':'red'} : {}" id="saldo" type="number" disabled>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="!itemName" ng-click="$modal.orderOk()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$modal.cancelModal()">Anuluj</button>
</div>
