<!--<div id="centerContainer" class="  background-right ">-->
  <div ng-controller="OrderController as $order">
  
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">      
        <div class="navbar-header pull-left">
          <a class="navbar-brand" style="font-size: 35px; font-family: 'Exo 2'">
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span> PASZO<span style="font-size: 70%"> - Prawie Automatyczny System Zamawiania Obiadów</span></a>
        </div>
        <div class="navbar-header pull-right">
          <ul class="nav pull-left">
            <li class="navbar-text pull-left" uib-popover="Twoje saldo: {{saldo}} zł" popover-trigger="'mouseenter'" popover-placement="left">
              <b>Witaj {{displayName}}</b>
            </li>
            
            <li class="dropdown pull-right">
                <a  data-toggle="dropdown" style="color:#777; margin-top: 5px;" 
                class="dropdown-toggle"><span class="glyphicon glyphicon-user"></span>
                <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a ng-click="$order.goToAdmin()" ng-if="isAdmin" title="Admin" style="cursor: pointer">Panel Admin </a>
                  </li>
                  <li>
                    <a ng-click="$order.goToUserPanel()" title="Profil" style="cursor: pointer">Panel użytkownika</a>
                  </li>
                  <li>
                    <a ng-click="$order.infoPanel()" title="About" style="cursor: pointer">O aplikacji</a>
                  </li>
                  <li>
                    <a ng-click="$order.logout()" title="Wyloguj" style="cursor: pointer"><b>Wyloguj się</b> </a>
                  </li>
                </ul>
              </li>

          </ul>
        </div>
      </div>

      
    </nav>
    <div class="container-fluid " style="padding-top: 85px">
      <div class="row">
        <div class="col-xs-4">
          <button type="button" class="btn btn-success btn-lg btn-block"  ng-click="$order.openOrder()">
            Złóż zamówienie</button>
        </div>
        <!--<div class="col-xs-4" ng-if="false">
          <button type="button" class="btn btn-warning btn-lg btn-block" ng-click="$order.openPay()">
            Zapłać</button>
        </div>-->
        <div class="col-xs-6"></div>
        <div class="col-xs-2" ng-if="true">
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="$order.refreshAll()">
            Odśwież</button>
        </div>
        <div class="col-xs-8">
        </div>
      </div>
      <br />
      <div class="row transparent-background" style="display: flex; align-items: center; justify-content: space-between; margin: 0px; height:100px">

          <label>Dziś zamawiamy: </label>
          <div >
            <input class="form-control" id="today-restourant-dropdown" ng-value="orderParameters.TodayRestaurant" ng-disabled="true"></input>
          </div>
          <a ng-href="http://{{orderParameters.Url}}" ng-if="orderParameters.Url" target="_blank">
            <button class="btn btn-sm btn-primary">
              <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Link
            </button>
          </a>
          <label ng-if="orderTimeVisible">Zamawiamy o: </label>
          <div uib-timepicker ng-model="orderTimeObject" ng-change="$admin.orderTimeChanged()" ng-if="orderTimeVisible" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ng-disabled="true"></div>

          <label>Status: </label>
          <div >
            <input class="form-control" id="status-dropdown" ng-value="orderParameters.Status" ng-disabled="true"></input>     
          </div>     
          
          <label ng-if="deliveryTimeVisibility">Godzina dostarczenia: </label>
          <div uib-timepicker ng-model="deliveryTimeObject" ng-change="$admin.deliveryTimeChanged()" ng-if="deliveryTimeVisibility" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ng-disabled="true"></div>
          
          <!--<button type="button" class="btn btn-primary" ng-click="$order.getOrderParameters();">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Odśwież
          </button>-->


      </div>
      <br/>
      <div class="transparent-background" style="padding: 8px">
        <div class="row">
          <div class="col-xs-12 ">
            <h3>Łączna kwota zamówienia: {{todaySum}} zł</h3>
          </div>
        </div>
        <br />
      
        <div class="row">
          <div class="col-xs-10">
            <h4><b>Lista dzisiejszych zamówień</b></h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="btn btn-primary pull-right" ng-click="$order.swichVisiblePrices()">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{showHidePricesLabel}}</button>
          </div>
          <!--<div class="col-xs-2">
            <button type="button" class="btn btn-primary pull-right" ng-click="$order.refreshAll()">
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Odśwież</button>
          </div>-->
        </div>
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-hover">
              <tr>
                <th>Lp</th>
                <th>Login</th>
                <th>Zamówienie</th>
                <th ng-if="visiblePrices">Cena</th>
                <th ng-if="visiblePrices">Opak.</th>            
                <th>Uwagi</th>
                <th></th>
                <th></th>
                
                
              </tr>
              <tbody ng:repeat="i in todayOrdersList">

                <tr>
                  <td>{{$index + 1}}</td>
                  <td>{{i.User}}</td>
                  <td>{{i.MenuItem.ItemName}}</td>
                  <td ng-if="visiblePrices">{{i.MenuItem.ItemPrice}} zł.</td>
                  <td ng-if="visiblePrices">{{i.MenuItem.BoxPrice}} zł.</td>
                  
                  <td>{{i.Comment}}</td>
                  <td>
                    <button type="button" ng-if="login == i.User" class="btn btn-primary pull-right" ng-click="$order.editOrder(i.Id)" uib-popover="Edytuj!" popover-trigger="'mouseenter'">
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                  </td>
                  <td>
                    <button type="button" ng-if="login == i.User" class="btn btn-danger pull-right" ng-click="$order.delOrder(i.Id)" uib-popover="Usuń!" popover-trigger="'mouseenter'">
                      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                  </td>  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> 
  </div>
<!--</div>-->

