<!--<div id="centerContainer" class="background-right">    -->
    <div class="container-fluid" ng-controller="UserPanelController as $userPanel">
    
        <nav  role="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header pull-left">
                <a class="navbar-brand">Panel Użytkownika</a>
            </div>
            <div class="navbar-brand pull-right">
            <button type="button" class="btn btn-primary pull-right" ng-click="$userPanel.goToOrder();" style="">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Powrót do zamówień</button>
            </div>
        </nav>
        <div style="position: absolute; top: 85px">
            <div class="transparent-background" style="padding: 8px">
                <div class="row">
                    <div class="col-xs-12">
                    <h4>Historia zamówień </h4>
                    </div>                
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-hover">
                            <tr>
                                <th>Lp</th>
                                <th></th>
                                <th>Data</th>
                                <th>Zamówienie</th>
                                <th>Kwota</th>
                                <th>Uwagi</th>                            
                            </tr>
                            <tbody ng:repeat="i in userHistory">
                                <!-- <tr ng-style="i.Ammount > 0 ? {'background-color':'green'} : {}"> -->
                                <tr>
                                    <td>{{$index + 1}}</td>
                                    <td ng-if="i.Ammount > 0"><span class="glyphicon glyphicon-chevron-up" style="color:green"></span></td>
                                    <td ng-if="i.Ammount < 0"><span class="glyphicon glyphicon-chevron-down" style="color:red"></span></td>
                                    <td ng-if="i.Ammount == 0"><span class="glyphicon glyphicon-chevron-minus" style="color:gray"></span></td>
                                    <td>{{i.Date}}</td>
                                    <td>{{i.MenuItem.ItemName}}</td>
                                    <td>{{i.Ammount}}</td>
                                    <td>{{i.Comment}}</td>
                                </tr>
                            </tbody>    
                        </table>
                    </div>
                </div>
            </div>

            <div  class="panel panel-default ng-scope" style=" left: 10px; padding: 10px; height: 55px">
                <div class="form-group">
                    <label class="pull-left">Twoje saldo:</label>
                    <input style="width: 60px" class="form-control pull-right" ng-model="saldo" ng-style="saldo < 0 ? {'border-color':'red'} : {}"  id="saldo" type="text" disabled>
                </div>
            </div>
            <label>Zmien hasło</label>
            <div class="panel panel-default ng-scope" style=" left: 10px; width:120%">

                <div name="myLogin" class="form-signin">
                    <div style="padding: 10px">
                        <input type="password" class="form-control" ng-model="oldPassword" placeholder="stare hasło" style="padding: 10px" required />
                        <br/>
                        <input type="password" class="form-control" ng-model="newPassword" placeholder="nowe hasło" style="padding: 10px" required/> 
                        <br/>
                        <input type="password" class="form-control" ng-model="newPasswordRepeat" placeholder="powtórz hasło" style="padding: 10px" required/> 
                        <br />
                        <button style="padding: 10px; " class="btn  btn-primary pull-right" ng-click="$userPanel.passwordChange()" ng-disabled="passwordChangeActive" >Zmień hasło</button>

                    </div>
                </div>	
            </div>
            <label>Edytuj dane użytkownika</label>
            <div class="panel panel-default ng-scope" style=" left: 10px; width:120%">
                <div name="myLogin" class="form-signin">
                    <div style="padding: 10px">
                        <input type="text" class="form-control" ng-model="name" placeholder="Imię" style="padding: 10px"/>
                        <br/>
                        <input type="email" class="form-control" ng-model="email" placeholder="Adres Email" style="padding: 10px"/>
                        <br/>
                        <input type="tel" class="form-control" ng-model="telephoneNumber" placeholder="Numer telefonu" style="padding: 10px"/>
                        <br/>
                        <button style="padding: 10px; " class="btn  btn-primary pull-right" ng-click="$userPanel.editUserData()">Edytuj dane</button>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
<!--</div>-->