<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Dzisiejszy szczęśliwy los to: <b>{{todayDrawing.userName}}</b></h4>
    <h5>Zamawiamy z <b>{{todayOrderParameters.todayRestaurant}}</b> (nr tel: <b>{{todayOrderParameters.telNr}}</b>)</h5>
</div>
<div class="container-fluid modal-body" id="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <table class="table" style="margin:0px">
                <tr>
                    <th>Ilość</th>
                    <th>Nazwa</th>
                    <th>Uwagi</th>
                    <th>Cena</th>
                </tr>
                <tbody ng:repeat="i in aggregateOrders">
                    <td>{{i.orderCount}} szt.</td>
                    <td>{{i.name}}</td>
                    <td>{{i.comment}}</td>
                    <td>{{i.price}}</td>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$aggregate.ok()">OK</button>
</div>