<!DOCTYPE html>
<html ng-app="PaszoApp">

<head>
    <meta charset="utf-8">
    <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script> -->

    <script src="/src/angular/angular.js"></script>
    <script src="/src/angular/angular-animate.js"></script>
    <script src="/src/angular/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="/src/angular/angular-cookies.js"></script>
    <script src="/src/angular//angular-route.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="src/spinner.css">
    <link rel="stylesheet" href="src/paszo-styles.css">
    <link rel="stylesheet" href="src/w3loader.css">

    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,700" rel="stylesheet">

    <!--Spinnery: -->
    <!--<script src="bower_components/angular-spinner/dist/angular-spinner.min.js"></script>-->
    <!--<link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">-->
    <!--<script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>-->


    <script src="app.js"></script>
    <script src="config.js"></script>
    <script src="service.js"></script>
    <script src="userPanelController.js"></script>
    <script src="httpGetService.js"></script>
    <script src="orderController.js"></script>
    <script src="modalController.js"></script>
    <script src="loginController.js"></script>
    <script src="adminController.js"></script>
    <script src="newUserModalController.js"></script>
    <script src="alertModalController.js"></script>
    <script src="alertService.js"></script>
    <script src="infoService.js"></script>
    <script src="aggregateOrdersController.js"></script>


    <title>{{configData.version}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favico.png">
</head>

<body>
    <div ng-view>

    </div>
</body>

</html>