<!--<div id="centerContainer" class="  background-right ">-->
  <div ng-controller="OrderController as $order">
  
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">      
        <div class="navbar-header pull-left">
          <a class="navbar-brand" style="font-size: 35px; font-family: 'Exo 2'">
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span> PASZO<span style="font-size: 70%"> - Prawie Automatyczny System Zamawiania Obiadów</span></a>
        </div>
        <div class="navbar-header pull-right">
          <ul class="nav pull-left">
            <li class="navbar-text pull-left" uib-popover="Twoje saldo: {{saldo}} zł" popover-trigger="'mouseenter'" popover-placement="left">
              <b>Witaj {{displayName}}</b>
            </li>
            
            <li class="dropdown pull-right">
                <a  data-toggle="dropdown" style="color:#777; margin-top: 5px;" 
                class="dropdown-toggle"><span class="glyphicon glyphicon-user"></span>
                <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a ng-click="$order.goToAdmin()" ng-if="isAdmin" title="Admin" style="cursor: pointer">Panel Admin </a>
                  </li>
                  <li>
                    <a ng-click="$order.goToUserPanel()" title="Profil" style="cursor: pointer">Panel użytkownika</a>
                  </li>
                  <li>
                    <a ng-click="$order.infoPanel()" title="About" style="cursor: pointer">O aplikacji</a>
                  </li>
                  <li>
                    <a ng-click="$order.logout()" title="Wyloguj" style="cursor: pointer"><b>Wyloguj się</b> </a>
                  </li>
                </ul>
              </li>

          </ul>
        </div>
      </div>

      
    </nav>
    <div  style="padding-top: 85px" ng-show="!orderPageLoaded">
      <div class="w3loader" align="center" valign="center"></div>
    </div>
    

    <div ng-show="orderPageLoaded">
      <div class="container-fluid " style="padding-top: 85px">
        <div class="row">
          <div class="col-xs-4">
            <button type="button" class="btn btn-success btn-lg btn-block"  ng-click="$order.openOrder()">
              Złóż zamówienie</button>
          </div>
          <div class="col-xs-3">
            <button type="button" class="btn btn-warning btn-lg btn-block" ng-if="false" ng-click="$order.openPay()">
              Zapłać</button>
          </div>
          <div class="col-xs-3"></div>
          <div class="col-xs-2" ng-if="true">
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="$order.refreshAll()">
              Odśwież</button>
          </div>
          <div class="col-xs-8">
          </div>
        </div>
        <br />
        
        <div class="panel panel-default">
          <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="return false;" style="cursor: pointer;">
            <h2 class="panel-title">
              <b>1. Dziś zamawiamy:</b>
            </h2>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="transparent-background" style="padding: 8px">
                        <div class="row">
                          <div class="col-xs-12 ">
                            <table class="table" style="margin:0px">
                              <tr>
                                <th>Dziś zamawiamy: </th>
                                <th></th>
                                <th>Zamawiamy o: </th>
                                <th>Status: </th>
                                <th>Godzina dostarczenia: </th>
                                <th ></th>
                              </tr>
                              <tbody>
                                <tr>
                                  <td style="vertical-align:middle">
                                    <div uib-dropdown is-open="status.isopen" class="dropdown" style="cursor: pointer">
                                      <button class="btn btn-warning " id="today-restourant-dropdown" ng-value="orderParameters.restaurant.name" uib-dropdown-toggle>{{orderParameters.restaurant.name}}
                                        <span class="glyphicon glyphicon-menu-down pull-right"></span>
                                      </button>
                                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="today-restourant-dropdown" >
                                        <li role="menuitem"><a ng-click="$order.setRestourantToScope(i)" ng:repeat="i in restaurantsList">{{i.name}}</a></li>
                                      </ul>
                                    </div>
                                  </td>
                                  <td style="vertical-align:middle">
                                    <a ng-href="http://{{orderParameters.url}}" ng-if="orderParameters.url" target="_blank">
                                      <button class="btn btn-sm btn-primary">
                                        <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Link
                                      </button>
                                    </a>
                                  </td>
                                  <td style="vertical-align:middle; padding: 0px" >
                                    <div uib-timepicker ng-model="orderTimeObject" ng-change="$order.orderTimeChanged()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                                  </td>
                                  <td style="vertical-align:middle">
                                    <div uib-dropdown  >
                                      <button class="btn btn-warning " id="status-dropdown" uib-dropdown-toggle>{{orderParameters.status}}
                                        <span class="glyphicon glyphicon-menu-down pull-right"></span>
                                      </button>     
                                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="status-dropdown" >
                                        <li role="menuitem"><a ng-click="$order.setStatusToScope(i)" ng:repeat="i in configData.statusList">{{i}}</a></li>
                                      </ul>
                                    </div>
                                  </td>
                                  <td style="vertical-align:middle; padding: 0px">
                                    <div uib-timepicker ng-model="deliveryTimeObject" ng-change="$order.deliveryTimeChanged()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                                  </td>
                                  <td style="vertical-align:middle">
                                    <button type="button" class="btn btn-primary" ng-click="$order.postOrderParameters()">
                                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Aktualizuj
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" onclick="return false;" style="cursor: pointer;">
              <h2 class="panel-title">
                <b>2. Skarbonka:</b>
              </h2>
            </div>
            <div id="collapseTwo" ng-class="panel-collapse">
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <table class="table" style="margin:0px">
                      <tr>
                        <th>Stan skarbonki</th>
                        <th>Komentarz</th>
                        <th>Wprowadził</th>
                        <th>Data wprowadzenia</th>
                        <th></th>
                      </tr>
                      <tbody>
                        <td><input class="form-control" type="number" ng-model="$order.actualCashBoxStateCashState"></input></td>
                        <td><input class="form-control" type="text" ng-model="$order.actualCashBoxStateComment" ></input></td>
                        <td><input class="form-control" type="text" ng-model="$order.actualCashBoxStateUserName" readonly></input></td>
                        <td><input class="form-control" type="text" ng-model="$order.actualCashBoxStateTime" readonly></input></td>
                        <td><button type="button" class="btn btn-primary" ng-click="$order.postCashBoxState()">
                          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Aktualizuj
                        </button></td>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        

        <br/>
        <div class="transparent-background" style="padding: 8px" ng-repeat="divData in todayOrdersByRestaurans">
          <div class="row">
            <div class="col-xs-12">
              <h3><b>{{divData.restaurant.name}}</b></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <h4>Łączna kwota zamówienia: {{divData.totalPrice}} zł</h3>
            </div>
          </div>            
          <!-- <div class="row">
            <div class="col-xs-10">
              <h5><b>Zamówienia:</b></h4>
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-primary pull-right" ng-click="$order.swichVisiblePrices()">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{showHidePricesLabel}}</button>
            </div>
          </div> -->
          <div class="row">
            <div class="col-xs-12">
              <table class="table table-hover">
                <tr>
                  <th></th>
                  <th>Lp</th>
                  <th>Login</th>
                  <th>Zamówienie</th>
                  <th>Uwagi</th>
                  <th ng-if="visiblePrices">Cena</th>
                  <th ng-if="visiblePrices">Opak.</th>            
                  <th></th>
                  <th></th>
                  
                  
                </tr>
                <tbody ng:repeat="i in divData.todayOrders">
                  <tr>
                    <td>
                      <div ng-show="i.menuItem.isOrdered" style="color: white" >
                          <span class="glyphicon glyphicon-send" style="color:green" aria-hidden="true"></span>
                      </div>
                        
                    </span></td>
                    <td>{{$index + 1}}</td>
                    <td>{{i.user.name}} ({{i.user.userName}})</td>
                    <td>{{i.menuItem.itemName}}</td>
                    <td>{{i.comment}}</td>
                    <td ng-if="visiblePrices">{{i.menuItem.itemPrice}} zł.</td>
                    <td ng-if="visiblePrices">{{i.menuItem.boxPrice}} zł.</td>
                    
                    <td>
                      <button type="button" ng-if="login == i.userName" class="btn btn-primary pull-right" ng-click="$order.editOrder(i)" uib-popover="Edytuj!" popover-trigger="'mouseenter'">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                      </button>
                    </td>
                    <td>
                      <button type="button" ng-if="login == i.userName" class="btn btn-danger pull-right" ng-click="$order.delOrder(i)" uib-popover="Usuń!" popover-trigger="'mouseenter'">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                      </button>
                    </td>  
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
<!--</div>-->

