<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Zapłać</h3>
</div>
<div class="container-fluid modal-body" id="modal-body">
  <div class="row form-group">
    <div class="col-xs-2">
      <label>Kwota wpłaty</label>
    </div>
    <div class="col-xs-5">
      <input type="number" class="form-control" ng-model="income" id="income" />
    </div>
    <div class="col-xs-2">
      <label>Twoje saldo</label>
    </div>
    <div class="col-xs-3">
      <input class="form-control" ng-model="saldo" ng-style="saldo < 0 ? {'border-color':'red'} : {}"  id="saldo" type="number" disabled>
    </div>
  </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$modal.payOk()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$modal.cancelModal()">Anuluj</button>
</div>
