<!--<div id="centerContainer" class="background-right">    -->
    <div class="container-fluid" ng-controller="UserPanelController as $userPanel">
    
        <nav  role="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header pull-left">
                <a class="navbar-brand">Panel Użytkownika</a>
            </div>
            <div class="navbar-brand pull-right">
            <button type="button" class="btn btn-primary pull-right" ng-click="$userPanel.goToOrder();" style="">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Powrót do zamówień</button>
            </div>
        </nav>
        <div  class="panel panel-default ng-scope" style="position: absolute; top: 85px; left: 10px; padding: 10px; height: 55px">
                <div class="form-group">
                    <label class="pull-left">Twoje saldo:</label>
                    <input style="width: 60px" class="form-control pull-right" ng-model="saldo" ng-style="saldo < 0 ? {'border-color':'red'} : {}"  id="saldo" type="text" disabled>
                </div>
            </div>
        <div>
    <div class="panel-group" id="accordion" style="padding-top: 145px">
            <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="return false;" style="cursor: pointer;">
                <h2 class="panel-title">
                <b>1. Ustawienia</b>
                </h2>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                        <div class="transparent-background" style="padding: 8px">
                                <div class="row">
                                  <div class="col-xs-12 ">
                                    <table class="table" style="margin:0px">
                                      <tr>
                                        <th>Zmien hasło </th>
                                        <th>Edytuj dane użytkownika</th>
                                        
                                      </tr>
                                      <tbody>
                                        <tr>
                                          <td style="vertical-align:middle">
                                                <div class="panel panel-default ng-scope" style=" left: 10px; width: 90%">

                                                        <div name="myLogin" class="form-signin">
                                                            <div style="padding: 10px">
                                                                <input type="password" class="form-control" ng-model="oldPassword" placeholder="stare hasło" style="padding: 10px" required />
                                                                <br/>
                                                                <input type="password" class="form-control" ng-model="newPassword" placeholder="nowe hasło" style="padding: 10px" required/> 
                                                                <br/>
                                                                <input type="password" class="form-control" ng-model="newPasswordRepeat" placeholder="powtórz hasło" style="padding: 10px" required/> 
                                                                <br />
                                                                <button style="padding: 10px; " class="btn  btn-primary pull-right" ng-click="$userPanel.passwordChange()" ng-disabled="passwordChangeActive" >Zmień hasło</button>
                                        
                                                            </div>
                                                        </div>	
                                                    </div>
                                          </td>
                                          <td style="vertical-align:middle">
                                                <div class="panel panel-default ng-scope" style=" left: 10px; width: 90%">
                                                        <div name="myLogin" class="form-signin">
                                                            <div style="padding: 10px">
                                                                <input type="text" class="form-control" ng-model="name" placeholder="Imię" ng-value="$scope.name" style="padding: 10px"/>
                                                                <br/>
                                                                <input type="text" class="form-control" ng-model="email" placeholder="Adres Email" ng-value="$scope.email" style="padding: 10px"/>
                                                                <br/>
                                                                <input type="text" class="form-control" ng-model="telephoneNumber" placeholder="Numer telefonu" ng-value="$scope.telephoneNumber" style="padding: 10px"/>
                                                                <br/>
                                                                <button style="padding: 10px; " class="btn  btn-primary pull-right" ng-click="$userPanel.editUserData()">Edytuj dane</button>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                </div>
            </div>
            </div>
        
            <div class="panel panel-default">
                <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" onclick="return false;" style="cursor: pointer;">
                <h2 class="panel-title">
                    <b>2. Historia zamówień</b>
                </h2>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                            <div class="transparent-background" style="padding: 8px">
                                    <!-- <div class="row">
                                        <div class="col-xs-12">
                                        <h4>Historia zamówień </h4>
                                        </div>                
                                    </div> -->
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <table class="table table-hover" style="width:1%; white-space: nowrap;">
                                                <tr>    
                                                    <th>Lp</th>
                                                    <th></th>
                                                    <th>Data</th>
                                                    <th>Zamówienie</th>
                                                    <th>Kwota</th>
                                                    <th>Uwagi</th>                            
                                                </tr>
                                                <tbody ng:repeat="i in userHistory">
                                                    <tr>
                                                        <td>{{$index + 1}}</td>
                                                        <td ng-if="i.ammount > 0"><span class="glyphicon glyphicon-chevron-up" style="color:green"></span></td>
                                                        <td ng-if="i.ammount < 0"><span class="glyphicon glyphicon-chevron-down" style="color:red"></span></td>
                                                        <td ng-if="i.ammount == 0"><span class="glyphicon glyphicon-chevron-minus" style="color:gray"></span></td>
                                                        <td>{{i.date}}</td>
                                                        <td>{{i.menuItem.itemName}}</td>
                                                        <td>{{i.ammount}}</td>
                                                        <td>{{i.comment}}</td>
                                                    </tr>
                                                </tbody>    
                                            </table>
                                        </div>
                                    </div>
                                </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>