.input {
  &--container {
    border-radius: 0.375rem;
    position: relative;
  }

  &--container input {
    width: 100%;
    background: transparent;
    color: #525252;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    padding: 10px 0;
    font-size: 16px;
  }

  &--container label {
    letter-spacing: 2px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: gray;
    pointer-events: none;
    transition: 0.6s ease;
  }

  &--container input:focus ~ label,
  &--container input:valid ~ label,
  &--container input:disabled ~ label {
    top: -20px;
    font-size: 12px;
  }

  &--warning {
    font-size: 12px;
  }
}
