.navbar {
    height: 65px;
    background-color: rgba(255,255,255,0.65)
    
}

.loginmodal-container {
    max-height: 350px;
    max-width: 350px;
    width: 100%!important;
    border: gray;

}

#centerContainer {
    /*display: flex;
    flex-direction: column;*/
    width: 100%;
    height: 100%;
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;
}

.transparent-background {
    background-color: rgba(255,255,255,0.75)
}

.background-left {
    background-image: url("../imgs/dinner_background.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.background-clear {
    background-image: url("../imgs/dinner_background.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.background-right {
    background-image: url("../imgs/dinner_background_right_transp_80.png");
    background-size: cover;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url("../imgs/dinner_background_right_transp_80.png");
    background-size: cover;
    justify-content: center;
    align-items: center;
}

#today-restourant-dropdown {
    min-width: 120px;
    min-height: 32px
}

#status-dropdown {
    min-width: 120px;
    min-height: 32px
}