.navbar {
  &--spoons {
    margin-right: 5px;
  }
}

// DROPDOWN COMMON

.dropdown-container {
  position: relative;
}

.dropdown-items {
  position: absolute;
  top: 100%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: max-content;
  margin-top: 5px;
  border-radius: 5px;
}

.dropdown-item {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
  text-decoration: none;
  &:hover {
    background-color: #f1f1f1;
  }
}

// LAYOUT

.max-width-container {
  display: flex;
  justify-content: center;
}

.max-width {
  max-width: 1024px;
  width: 100%;
  padding: 1em;
}

// HOME PAGE

.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.avatar {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  margin: 10px;

  &--label {
    margin: 5px 10px 5px 0px;
    text-wrap: nowrap;
  }
}

// HEADER

.header-section {
  background-image: url("../imgs/header_background_transp_80.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.global-header {
  display: grid;
  grid-template-columns: 3em 1fr 3em;
  grid-template-rows: 3em;
  grid-template-areas: "hamburger logo avatar";
  align-items: center;

  &--hamburger {
    padding: 0;
    border: none;
    background: none;
    grid-area: hamburger;

    &--dropdown {
      &--items {
        left: 0;
      }
      &--item {
        text-align: left;
      }
    }
  }

  &--link {
    color: black;
    text-decoration: none;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.206);
    cursor: pointer;
  }

  &--link:hover {
    background-color: rgba(255, 255, 255, 0.556);
  }

  &--logo {
    width: 6em;
    height: 6em;
    border-radius: 2em;
    grid-area: logo;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--links {
    grid-area: links;
    display: none;
  }

  &--avatar {
    &--dropdown {
      grid-area: avatar;
    }

    &--button {
      grid-area: avatar;
      border-width: 0;
      width: 40px;
      padding: 0;
      background-color: transparent;
    }

    &--dropdown-items {
      right: 0;
    }
    &--dropdown-item {
      text-align: right;
    }
  }
}

@media screen and (min-width: 600px) {
  .global-header {
    grid-template-columns: 1fr 1fr 3em;
    grid-template-rows: 3em;
    grid-template-areas: "logo links avatar";

    &--hamburger {
      &--dropdown {
        &--container {
          display: none;
        }
      }

      display: none;
    }

    &--logo {
      justify-self: start;
    }

    &--links {
      display: flex;
      justify-self: end;
      gap: 1em;
      padding-right: 1em;
    }
  }
}

// FOOTER

.footer-section {
  margin-top: auto;
  // background-color: #a48a4e;
  background-image: url("../imgs/header_background_transp_80.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 2em;
}
